# IDE files
.idea
.vscode

# Gradle file
/build
.gradle

# Log file
*.log
*.jar

# Mac files
.DS_Store

# Windows files
Thumbs.db

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
